- @posts.each do |post|
  .panel
    = render 'post', post: post
    = render 'actions', post: post
%hr
.columns.small-11.small-centered
  = will_paginate @posts, renderer: FoundationPagination::Rails
%br
