- @posts.each do |post|
  .panel
    %h4.title
      = link_to post.title, post_link(post)
      %small.tagline{ title: post.created_at }= "#{time_ago_in_words post.created_at} ago"
    %p= post.body
