header {
  ul.breadcrumbs {
    height: 35px;
    margin-bottom: 0;
    width: 2000em; /* so overflow works */
    > *:before {
      content: "-"
    }
    li.with-dropdown * {
      text-decoration: none !important;
    }
    .f-dropdown li {
      font-size: 0.75rem;
      line-height: 0.8rem;
    }
    .button.dropdown.tiny {
      font-size: 0.5em;
      margin-bottom: 0;
      padding: 0.6em 5em 0.6em 1em;
      top: -4px;
    }
  }
  .top-bar {
    background: #CEE3F8;
    color: #666;
    .name h1 {
      img {
        width: 62%;
      }
      a {
        padding-left: 0;
        color: #555
      }
    }
    .user-menu > a {
      font-size: 0.8em;
      padding-right: 1em;
    }
    // .top-bar-section li {
    //   &.divider {
    //     border-right: 1px solid #CEE3F8 !important;
    //   }
    //   a {
    //     background: #EFF7FF !important;
    //     color: #777;
    //     &:hover {
    //       color: #333;
    //     }
    //   }
    // }
  }
  &+ section {
    padding-top: 1.75em;
    padding-bottom: 2em;
  }
}
sidebar {
  position: fixed !important;
  right: 0;
}
footer {
  bottom: 0;
  color: #666;
  position: fixed;
  top: inherit !important;
  width: 100%;
  .top-bar {
    background: #cee3f8; /* Old browsers */
    background: -moz-linear-gradient(top,  #cee3f8 18%, #a2b2c1 80%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(18%,#cee3f8), color-stop(80%,#a2b2c1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cee3f8 18%,#a2b2c1 80%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cee3f8 18%,#a2b2c1 80%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cee3f8 18%,#a2b2c1 80%); /* IE10+ */
    background: linear-gradient(to bottom,  #cee3f8 18%,#a2b2c1 80%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cee3f8', endColorstr='#a2b2c1',GradientType=0 ); /* IE6-9 */
    margin-top: 1em;
    padding: 0.5em;
  }
}
.panel.alert {
  background: #900;
}
.edit-buttons .button {
  margin-bottom: 0;
}
form {
  label {
    font-weight: bold;
  }
}
.clear {
  clear: both;
}
