= sidebar( @category.sidebar )
.panel
  = render 'category', category: @category

.panel
  %h3.title Posts in this Category
  %hr
  - @posts.each do |post|
    =render 'posts/post', post: post
  %hr
  = will_paginate @posts, renderer: FoundationPagination::Rails
